{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/add-products.css">
{% endblock %}

{% block content %}
	<h1>NOUVELLE ACTUALITÉ</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class='form'>
					<form method="POST" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="name" class="form-label">Nom</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Nom de l'article" value="{{actuality.name}}" required>
						</div>
						<div class="mb-3">
							<label for="image" class="form-label">Image</label>
							<input type="file" class="form-control" id="image" name="image" required>
						</div>
						<div class="mb-3">
							<label for="description" class="form-label">Description</label>
							<textarea name="description" class="form-control" id="description" placeholder="Description de l'actualité" rows="5"  required> {{actuality.description}} </textarea>
						</div>
						<div class="mb-3">
							<label for="article" class="form-label">Article</label>
							<textarea name="article" class="form-control" id="article" placeholder="Description de l'article" rows="10"  required> {{actuality.article}} </textarea>
						</div>
						<div class="mb-3">
							<label for="created_at" class="form-label">Date d'ajout :</label>
							<input type="date" class="form-control" id="created_at" placeholder="15/04/2021" value="{{ actuality.created_at }}" name="created_at" required>
						</div>
						<div class="mt-4 d-flex justify-content-end">
							<button class="btn btn-primary">Ajouter votre actualité</button>
						</div>
						<ul class="error">
							{% for error in errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</form>
				</div>
				<div class="col-lg-2"></div>

			</div>
		</div>
	</div>
{% endblock %}
