{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/add-products.css">
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-8 order-form">
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="card-header p-2 mt-2">
                        <div class="row">
                            <div class="col-3 w-75 border"> Commande N°{{ orderStatus.id }} </div>
                            <div class="col-3 w-25 fw-bold bg-danger text-white text-center">{{ orderStatus.name }}</div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-12 text-end">
                                <form action="" method="POST">
                                    <select class="" value= "{{ orderStatus.id }}" name="status" id="status" required>
                                        <option> Changer statut </option>
                                        {% for statusList in statusLists %}
                                            <option name="{{ statusList.id }}" value="{{ statusList.id }}" id="{{ statuslist.id }}">{{ statusList.name }}</option>
                                        {% endfor %}
                                    </select> 
                                    <button class="btn btn-danger" type="submit"> Modifier </button> 
                                </form>
                             </div>
                        </div>                    
                        <p><h3>{{ orderStatus.firstname }}  {{ orderStatus.firstname }} </h3></p>
                        <p>{{ orderStatus.address }}</p>
                        <p>{{ orderStatus.zipcode }} {{ orderStatus.city }} </p>
                        <p>{{ orderStatus.country }} </p>
                        <br>
                        <p><h3>{{ orderStatus.email }}</h3></p>
                        <br>
                        <p>{{ orderStatus.detail }}</p>
                </div>
                <div class="col-8 d-flex justify-content-between p-2">
                    <a class="btnJavoy order-form" href="/AdminOrder/index">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}