
{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/add-products.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Liste Commande</h1>
                <div class="row justify-content-center">
                    <div class="col p-5 m-10 order-form">  
                        {% for orderStatus in orderStatus %}
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-3 border"> Commande N°{{ orderStatus.id }} - </div>
                                    <div class=" col-3 fw-bold bg-dark text-white">{{ orderStatus.name }}</div>
                                    <div class=" col-6"></div>
                                </div>
                            </div>
                            <div class="row m-3">
                                    <div class="col-3 order-form">
                                        <div class="row align-items-center justify-content-center h-100 pt-2 m-1">
                                            <div class="col">
                                                <p class="text-center fw-bolder lh-1">{{ orderStatus.title }} </p>
                                                <p class="text-center fw-bolder lh-1"> {{ orderStatus.firstname }} </p>
                                                <p class="text-center fw-bolder lh-1"> {{ orderStatus.lastname }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        {{ orderStatus.detail }}
                                    </div>
                                  
                                    <div class="col-3">
                                            <div class="row">
                                                <select class="form-control custom-select" value= "{{ orderStatus.id }}" name="status" id="status" required>
                                                    <option> Changer statut </option>
                                                    {% for statusList in statusLists %}
                                                        <option value="{{ statusList.name}}">{{ statusList.name }}</option>
                                                    {% endfor %}
                                                  </select>

                                                <form action="" method="POST">
                                                    <div class="col-12 p-2 btn-group">
                                                    <a class="btn order-form">Mettre &agrave; jour</a>
                                                    </div>
                                                </form>
                                            </div>
                                    </div>
                            </div>
                        {% endfor %}
                </div>
            </div>                        
        </div>
    </div>
</div>
{% endblock %} 