{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/add-products.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Liste Commande</h1>
                <div class="row justify-content-center">
                    <div class="col p-4 m-1 order-form">  
                        {% for orderStatus in orderStatus %}
                            <div class="card-header">
                                <div class="row p-2 align-items-center">
                                    <div class="col-3"> Commande N°{{ orderStatus.id }} </div>
                                    <div class="col-2 p-1 fw-bold bg-danger text-white text-center">{{ orderStatus.name }}</div>
                                    <div class="col-4">{{ orderStatus.title }} {{ orderStatus.lastname }} {{ orderStatus.firstname }} </div>
                                    <div class="col-3 text-end"><a href="/AdminOrder/show/{{ orderStatus.id }}" class="btnJavoy order-form">Afficher commande</a></div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>                        
        </div>
    </div>
</div>
{% endblock %} 