
{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/add-products.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Liste Commande</h1>
                <div class="row justify-content-center">
                    <div class="col p-5 m-10 order-form">            
                        {% for order in orders %}
                            <div class="card-header">
                                Commande N°{{ order.id }}
                            </div>
                            <div class="row m-3">
                                    <div class="col-3 order-form">
                                        <div class="row align-items-center justify-content-center h-100 pt-2 m-1">
                                            <div class="col">
                                                <p class="text-center fw-bolder lh-1">{{ order.title }} </p>
                                                <p class="text-center fw-bolder lh-1"> {{ order.firstname }} </p>
                                                <p class="text-center fw-bolder lh-1"> {{ order.lastname }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        {{ order.detail }}
                                    </div>
                                    <div class="col-3">
                                            <div class="row">
                                                <form action="" method="POST">
                                                    <select class="form-control custom-select" value= "{{ order.title }}" name="title" required>
                                                        <option value="status">Changer statut</option>
                                                        <option value="process">En cours</option>
                                                        <option value="delivered">Livr&eacute;</option>
                                                        <option value="canceled">Annul&eacute;</option>
                                                    </select>
                                                    <div class="col-12 p-2 btn-group">
                                                    <a class="btn order">Mettre &agrave; jour</a>
                                                    </div>
                                                </form>
                                            </div>
                                    </div>
                            </div>
                        {% endfor %}
                </div>
            </div>                        
        </div>
    </div>
</div>
{% endblock %} 