{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/actuality.css">
{% endblock %}

{% block content %}
	<h1>
		Actualité
	</h1>
	{% for actuality in actuality %}
		<div class="container">
			<div class="card actuality">
				<div class="row ">

					<div class="col-sm-5">
						<img class="card-img" src="/uploads/{{ actuality.image }}" alt="{{ actuality.name }}">
					</div>

					<div class="col-sm-7">
						<div class="card-body">
							<h5 class="card-title">{{ actuality.name }}</h5>
							<p class="card-text">
								{{ actuality.description }}
							</p>
						</div>
						<div class="text-center">
							<a class="btn return-button" href="/Actuality/showActuality/{{ actuality.id }}">
								En savoir plus
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% else %}
		<li class="mt-5">Il n'y a aucune actualité pour le moment.</li>
	{% endfor %}

{% endblock %}
