{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/product.css">
{% endblock %}
{% block content %}

	<section class="wine_bottles">
		<h1>CARTE DES VINS</h1>
		<div class="container d-flex justify-content-between d-flex flex-wrap">

			{% for product in products %}
				<div class="card" style="width: 18rem;">

					<img class="card-img-top" src="/uploads/{{ product.image }}" alt="image">
					<div class="card-body">

						<h2 class="card-title">{{ product.name }} : {{ product.year }}</h2>


						<p class="card-text">{{ product.description }}</p>
						<h3>{{ product.price }}€</h3>
						<div class="text-center">
							<a class="btn btn-primary border-0" href="/Cart/add/{{product.id}}">Ajouter au Panier</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</section>
{% endblock %}
