{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/skill.css">
{% endblock %}

{% block content %}

	<section class="panier">
		<div class="container">
			<h2>Panier</h2>
			{% if products is not empty %}
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Produits</th>
								<th>Description</th>
								<th>Qty</th>
								<th>Prix</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<!-- Debut de la boucle -->
							{% for product in products %}
								<tr>
									<!-- Image du produit -->
									<td><img src="{{ product.image }}" class="img-cart" alt="{{product.name}}"></td>

									<!-- Description du produit -->
									<td>
										<strong>{{ product.description }}</strong>
									</td>

									<!-- Bouton -->
									<td>
										<form
											class="form-inline" method="GET">
											<!-- Input quantité + Boutton "crayon" -->
											<input class="form-control" type="text" value="1" size="2">
											<button rel="tooltip" class="btn btn-default">
												<i class="fa fa-pencil"></i>
											</button>
											<!-- Icone supprimé -->
											<a href="/order/add" class="btn btn-primary">
												<i class="fa fa-trash-o"></i>
											</a>
										</form>
									</td>
									<!-- Prix du produit -->
									<td>{{ product.price }}
										€</td>

									<!-- prix total par article (prix d'un objet * la quantité) -->
									<td>{{ product.price * 2}}</td>
								</tr>
								<!-- Fin de boucle -->
							{% endfor %}

							<!-- EXEMPLE A SUPPRIMER -->

							<tr>
								<td><img src="/assets/images/place.png" class="img-cart"></td>
								<td>
									<strong>Bon avec du poisson</strong>
								</td>
								<td>
									<form class="form-inline" method="GET">
										<input class="form-control" type="text" value="1" size="2">
										<button rel="tooltip" class="btn btn-default">
											<i class="fa fa-pencil"></i>
										</button>
										<a href="/order/add" class="btn btn-danger">
											<i class="fa fa-trash-o"></i>
										</a>
									</form>
								</td>
								<td>10 €</td>
								<td>20 €</td>
							</tr>
							<tr>
								<td colspan="4" class="text-right">
									<strong>Total</strong>
								</td>
								<td>$88.00</td>
							</tr>

							<!-- FIN D'EXEMPLE -->

						</tbody>
					</table>
				</div>
			{% endif %}
		</div>
	</div>
</section>{% endblock %}
