<!-- Form -->

<div class="container">

  <form action="" method="POST">

   <label for="exampleFormControlInput1" class="form-label">Civilit&eacute; :</label>
    <select class="col-xs-2" aria-label="title" value= "{{ order.title }}" name="title" required>
      <option value="Mr">Mr</option>
      <option value="Mme">Mme</option>
      <option value="Mlle">Mlle</option>
    </select>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="col-xs-4">Nom:</label>
      <input type="text" class="w-50" id="exampleFormControlInput1" placeholder="Nom" value="{{ order.lastname }}" name="lastname" required>
    </div>

     <div class="mb-3">
      <label for="exampleFormControlInput1" class="col-xs-4">Prénom :</label>
      <input type="text" class="w-50" id="exampleFormControlInput1" placeholder="Pr&eacute;nom" value="{{ order.firstname }}" name="firstname" required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="col-xs-4">Email :</label>
      <input type="text" class="w-50" id="exampleFormControlInput1" placeholder="exemple@exemple.com" value="{{ order.email }}" name="email" required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="col-xs-4">Adresse :</label>
      <input type="text" class="w-50" id="exampleFormControlInput1" placeholder="1 bld Jean Jaures" value="{{ order.adress }}" name="city" required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="col-xs-4">Code Postal :</label>
      <input type="text" class="w-25" id="exampleFormControlInput1" placeholder="45000" value="{{ order.zipcode }}" name="zipcode" required>
    </div>

     <div class="mb-3">
      <label for="exampleFormControlInput1" class="col-xs-4">Ville :</label>
      <input type="text" class="w-50" id="exampleFormControlInput1" placeholder="Orl&eacute;ans" value="{{ order.city }}" name="city" required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="col-xs-4">Pays :</label>
      <input type="text" class="w-50" id="exampleFormControlInput1" placeholder="France" value="{{ order.country }}" name="country" required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="col-xs-4">D&eacute;tail commande :</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="D&eacute;tail de votre commande" rows="3" value="{{ order.detail_id }}" name="detail" required></textarea>
    </div>

<!-- Display errors -->

{% if errors is empty  %}
  {% else %}
    <ul class="error">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
{% endif %}
<!-- End display errors -->

    <div class="col-12 text-end">
      <button class="btn btn-primary" type="submit">Commander</button>
    </div>

  </form>
  
</div>